<!doctype html>
<html>
  <head>
    <title>Chat Uygulaması</title>
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="/public/bootstrap.min.css">
    <link rel="stylesheet" href="/public/style.css">
    <script src="/public/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </head>
  <body class="bg-light">
    <!--Navbar-->
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <a class="navbar-brand" href="#">Chat Uygulaması</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav mr-auto">
              <!--a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
              <a class="nav-item nav-link" href="#">Features</a-->
            </div>
            <span class="navbar-text mr-2" id="username" title="Kullanıcı adı">Giriş Yapılmadı</span>
            <button id="btn-navlogin" type="button" class="btn btn-success" data-toggle="modal" data-target="#loginModal">Giriş Yap</button>
          </div>
        </nav>
    <!--/Navbar-->
    
    <div class="container">
      <div class="row">
        <!--Global Panel-->
        <div id="globalPanel" class="col-12">
          
        </div>
        <!--/Global Panel-->
      </div>
    </div>
    
    <!--Modal-->
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header bg-secondary text-light">
              <h5 class="modal-title" id="loginModalLabel">Giriş Yap</h5>
            </div>
            <div class="modal-body">
                <p>Kullanıcı adınız:</p>
                <input type="text" class="form-control" id="input-username">
            </div>
            <div class="modal-footer">
              <!--button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button-->
              <button type="button" class="btn btn-primary" id="loginbutton">Giriş Yap</button>
            </div>
          </div>
        </div>
      </div>
      <!--/modal-->
      <div id="endpanel" style="height:120px;"></div>
      <!--input panel-->
      <div class="navbar  fixed-bottom mb-5 bg-dark" id="input-panel">
        <div class="input-group">
          <input type="text" id="input-chat" class="form-control">
          <button class="btn btn-success" type="button" id="send-btn">Gönder</button>
          </div>
      </div>
      <!--/input panel-->
      <!--Navbar-->
      <nav class="navbar navbar-expand-lg fixed-bottom navbar-dark bg-dark">
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav mr-auto" id="chatbar">
              <a class="nav-item nav-link baritem active" href="#">Herkes</a>

            </div>
          <!--Odalar-->
          <div class="btn-group dropup">
              <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Odalar
              </button>
              <div class="dropdown-menu" id="roomlist">
                <!-- Dropdown menu links -->
              </div>
            </div>
        </div>
        <!--/Odalar-->
        <!--Kullanıcılar-->
        <div class="btn-group dropup" id="users">
            <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Kullanıcılar
            </button>
            <div class="dropdown-menu" id="userlist">
              <!-- Dropdown menu links -->
            </div>
          </div>
      </div>
      <!--/Kullanıcılar-->
      </nav>
      <!--/Navbar-->
      <script src="/public/chatlib.js"></script>
      <script src="/public/chat.js"></script>
      <script src="/public/login.js"></script>
  </body>
</html>