<!doctype html>
<html>
  <head>
    <title>Chat Uygulaması</title>
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="/public/bootstrap.min.css">
    <script src="/public/angular.min.js"></script>
    <script src="/public/chat.js"></script>
  </head>
  <body ng-app="myApp", ng-controller="chat">
    <input type="text" ng-model="username">
<!--
    <div class="card" >
        <div class="card-header">
          Featured
        </div>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    -->

    <div ng-class="{'alert-info': msg.source=='Siz', 'alert-warning': msg.source!='Siz'}" ng-repeat="msg in globalMessages">
      <div class="badge badge-dark">{{msg.source}}</div>
      <div class="badge badge-secondary">{{msg.date}}</div>
      {{msg.message}}
    </div>
    {{msg}}<br>
    <input type="text" ng-model="text" ng-enter="herkeseMesajGonder(text);">
    <div class="btn btn-success" ng-click="herkeseMesajGonder(text);">Gönder</div>
  </body>
</html>