<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Naber</title>
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/style.css">
    <script src="/socket.io/socket.io.js"></script>
</head>
<body class="bg-dark">
    <div class="input-group">
        <!--div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="komutbuton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                k
            </button>
            <div class="dropdown-menu" aria-labelledby="komutbuton">
                <a class="dropdown-item" href="#">msg</a>
                <a class="dropdown-item" href="#">all</a>
                <a class="dropdown-item" href="#">login</a>
                <a class="dropdown-item" href="#">logout</a>
            </div>
        </div-->
        <input type="text" class="form-control" id="input">
    </div>
    <div id="chatarea" class="h-100 w-100 text-light"></div>
    <script src="/public/js/jquery-3.3.1.slim.min.js"></script>
    <script src="/public/js/popper.min.js"></script>
    <script src="/public/js/bootstrap.min.js"></script>
    <script src="/public/js/chat.js"></script>
</body>
</html>